SqlPad.Oracle/OracleConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://husqvik.com/SqlPad/2014/08/Oracle" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:local="http://husqvik.com/SqlPad/2014/08/Oracle">
  <xs:element name="OracleConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="StartupScript" type="xs:string" />
        
        <xs:element minOccurs="0" maxOccurs="1" name="TKProfPath" type="xs:string" />
        
        <xs:element minOccurs="0" maxOccurs="1" name="Connections">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="StartupScript" type="xs:string" />
                    <xs:element name="ExecutionPlan" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TargetTable" type="local:TypeSchemaObject" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ConnectionName" type="xs:string" use="required" />
                  <xs:attribute name="RemoteTraceDirectory" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element minOccurs="0" maxOccurs="1" name="Formatter">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Casing">
                <xs:complexType>
                  <xs:attribute name="Identifier" type="local:Casing" use="optional" />
                  <xs:attribute name="Alias" type="local:Casing" use="optional" />
                  <xs:attribute name="Keyword" type="local:Casing" use="optional" />
                  <xs:attribute name="ReservedWord" type="local:Casing" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="TypeSchemaObject">
    <xs:attribute name="Schema" type="xs:string" use="optional" />
    <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:simpleType name="Casing">
    <xs:restriction base="xs:string" >
      <xs:enumeration value="Keep"/>
      <xs:enumeration value="Upper"/>
      <xs:enumeration value="Lower"/>
      <xs:enumeration value="InitialCapital"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
