SqlPad.Oracle/OracleConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://husqvik.com/SqlPad/2014/08/Oracle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OracleConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExecutionPlan">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TargetTable">
                <xs:complexType>
                  <xs:attribute name="Schema" type="xs:string" use="optional" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="StartupScript" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RemoteTraceDirectory" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>