SqlPad/Documentation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://husqvik.com/SqlPad/2014/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Documentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Function">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Name" type="xs:string" use="required" />
                <xs:attribute name="Url" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>