SqlPad/Snippet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://husqvik.com/SqlPad/2014/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Snippet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Text" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Parameter">
                <xs:complexType>
                  <xs:attribute name="Index" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="DefaultValue" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AllowedTerminals">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Terminal">
                <xs:complexType>
                  <xs:attribute name="Id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Description" type="xs:string" use="required" />
      <xs:attribute name="Rdbms" type="xs:string" use="required" />
      <xs:attribute name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>